.column {
  margin-left: 10px;
  margin-top: 50px;
  float: left;
  width: 22.5%;
  padding: 0 10px;
}

.row {
	margin: 0 -5px;
}

.card {
	border-style: solid;
	padding: 15px;
  	text-align: center;
  	background-color: #ffffff;
  }

.label{
	margin-top: -5px;
	margin-left: -5px;
	text-align: left;
}

input[type=text], input[type=number], select, {
	width: 250px;
	padding: 12px;
	border: 1px solid #ccc;
	border-radius: 4px;
}
label {
	padding: 12px 12px 12px 0;
	display: inline-block;
}
.button { 
	margin-left: 78%;
	display: inline-block;
	padding: 10px 50px;
	font-size: 10px;
	cursor: pointer;
	text-align: center;
	outline: none;
	color: black;
	border: 1px solid;
	box-shadow: 0 3px black;
}

.button:hover {background-color: gray;}

.button:active {
  background-color: gray;
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}
.PrAd {
	width: 100%;
}
.TextArea {
	width: 100px;
	height: 50px;
	border: 5px solid;
	border-color: black;
	color: black;
	background-color: black
}

.fieldbox{
display:none;
width: 500px;
height: 300px;
border: 3px solid;
background-color: rgb(163, 163, 163);
}

.left_container, .right_container{
	display:inline-block;
}

.right_container{
	width:80%;
	text-align:right;
}